wm-test/src/main/resources/valuepack/conf/CommonTypes.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<!-- we do not use ns as http://config.im.vp.expert.uca.hp.com/ for PD 
	backward compatibility only -->
<!-- we want to keep old ProblemXmlConfig.xml files as they were in 3.1 -->

<xs:schema xmlns="http://config.im.vp.expert.uca.hp.com/"
	xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="2.0"
	targetNamespace="http://config.im.vp.expert.uca.hp.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">

	<xs:complexType name="Actions">
		<xs:sequence>
			<xs:element name="defaultActionScriptReference" type="xs:string"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="action" type="Action" minOccurs="1"
				maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="default" type="xs:string" use="optional"/>
		<xs:attribute name="__tooltip" type="xs:string"
			fixed="Configuration of Supported Actions Factories" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_default"
			type="xs:string" fixed="When an action cannot be chosen (e.g. when sourceIdentifier is null), this gives the default action to use." use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_defaultActionScriptReference"
			type="xs:string"
			fixed="Unique Action reference (see ActionRegistry configuration) defining the routing information of a script-based Action. See Exec Channel Adapter."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__dynamicList_defaultActionScriptReference"
			type="xs:string" fixed="actionReferenceList" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="Action">
		<xs:all>
			<xs:element name="actionReference" type="xs:string"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="actionClass" type="xs:string" minOccurs="1"
				maxOccurs="1" />
			<xs:element name="attributeUsedForKeyDuringRecognition"
				type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="attributeUsedForKeyPbAlarmCreation"
				type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="booleans" type="Booleans" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="strings" type="Strings" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="longs" type="Longs" minOccurs="0"
				maxOccurs="1" />
		</xs:all>
		<xs:attribute name="name" use="required" type="xs:string" />
		<xs:attribute name="__tooltip" type="xs:string"
			fixed="Container for attributes defining the actions for a set of alarms."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_name" type="xs:string"
			fixed="Name of the Action container. Usually matches the 'sourceIdentifier' field of alarms."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>

		<xs:attribute name="__tooltip_actionReference" type="xs:string"
			fixed="Unique Action reference (see ActionRegistry configuration) defining the routing information of an Action"
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__dynamicList_actionReference" type="xs:string"
			fixed="actionReferenceList" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_actionClass" type="xs:string"
			fixed="The class implementing the SupportedAction interface which describes the methods needed to support any Action on alarms."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_attributeUsedForKeyDuringRecognition"
			type="xs:string"
			fixed="The Custom Field Name of the Alarm containing the information to identify that a MasterAlarm is generated by the Problem Detection Framework."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_attributeUsedForKeyPbAlarmCreation"
			type="xs:string"
			fixed="The Custom Field of the MasterAlarm that will contain information about the problem, as seen from the Network Management System. Used as argument during MasterAlarm creation."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="TroubleTicketActions">
		<xs:sequence>
			<xs:element name="troubleTicketAction" type="TroubleTicketAction"
				minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="default" type="xs:string" use="optional"/>
		<xs:attribute name="__tooltip" type="xs:string"
			fixed="Configuration of Supported Trouble Ticket Actions Factories"
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_default"
			type="xs:string" fixed="When a TT action cannot be chosen (e.g. no TT tag specified in filters), this gives the default TT action to use." use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="TroubleTicketAction">
		<xs:all>
			<xs:element name="actionReference" type="xs:string"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="actionClass" type="xs:string" minOccurs="1"
				maxOccurs="1" />
			<xs:element name="booleans" type="Booleans" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="strings" type="Strings" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="longs" type="Longs" minOccurs="0"
				maxOccurs="1" />
		</xs:all>
		<xs:attribute name="name" use="required" type="xs:string" />
		<xs:attribute name="__tooltip" type="xs:string"
			fixed="Container for attributes defining the trouble ticket actions for a set of alarms"
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_name" type="xs:string"
			fixed="Name of the Action container. Usually matches the Filter Tag defined in the Filter Configuration."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>

		<xs:attribute name="__tooltip_actionReference" type="xs:string"
			fixed="Unique Action reference (see ActionRegistry configuration) defining the routing information of a Trouble Ticket Action"
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_actionClass" type="xs:string"
			fixed="The class implementing the SupportedTroubleTicketActions interface which describes the methods needed to support any Action on alarms."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="Booleans">
		<xs:sequence>
			<xs:element name="boolean" type="booleanItem" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="__tooltip" type="xs:string"
			fixed="Configuration of Boolean parameters used during the scenario processing."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="booleanItem">
		<xs:sequence>
			<xs:element name="value" minOccurs="1" maxOccurs="1"
				type="xs:boolean" />
		</xs:sequence>
		<xs:attribute name="key" use="required" type="xs:string" />
		<xs:attribute name="__tooltip" type="xs:string"
			fixed="Boolean parameter used during the scenario processing." use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_key" type="xs:string"
			fixed="Information used to retrieve this parameter from scenario customization code."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_value" type="xs:string"
			fixed="Value of this parameter. Automatically converted as Boolean java class instance."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="Strings">
		<xs:sequence>
			<xs:element name="string" type="StringItem" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="__tooltip" type="xs:string"
			fixed="Configuration of String parameters used during the scenario processing."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>

	</xs:complexType>

	<xs:complexType name="StringItem">
		<xs:sequence>
			<xs:element name="value" minOccurs="1" maxOccurs="1"
				type="xs:string" />
		</xs:sequence>
		<xs:attribute name="key" use="required" type="xs:string" />
		<xs:attribute name="__tooltip" type="xs:string"
			fixed="String parameter used during the scenario processing." use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_key" type="xs:string"
			fixed="Information used to retrieve this parameter from scenario customization code."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_value" type="xs:string"
			fixed="Value of this parameter. Automatically converted as String java class instance."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="Longs">
		<xs:sequence>
			<xs:element name="long" type="LongItem" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="__tooltip" type="xs:string"
			fixed="Configuration of Long parameters used during the scenario processing."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="LongItem">
		<xs:sequence>
			<xs:element name="value" minOccurs="1" maxOccurs="1" type="xs:long" />
		</xs:sequence>
		<xs:attribute name="key" use="required" type="xs:string" />
		<xs:attribute name="__tooltip" type="xs:string"
			fixed="Long parameter used during the scenario processing." use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_key" type="xs:string"
			fixed="Information used to retrieve this parameter from scenario customization code."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_value" type="xs:string"
			fixed="Value of this parameter. Automatically converted as Long java class instance."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:simpleType name="CounterTotalNumberAlarms">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Current" />
			<xs:enumeration value="All" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="TroubleTicket">
		<xs:sequence>
			<xs:element name="automaticTroubleTicketCreation" type="xs:boolean"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="propagateTroubleTicketToSubAlarms" type="xs:boolean"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="propagateTroubleTicketToMasterAlarm"
				type="xs:boolean" minOccurs="1" maxOccurs="1" />
			<xs:element name="delayForTroubleTicketCreation" type="xs:long"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="__tooltip" type="xs:string"
			fixed="Configuration of Trouble Ticket feature" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>

		<xs:attribute name="__tooltip_automaticTroubleTicketCreation"
			type="xs:string"
			fixed="Automates the creation of a trouble ticket once a MasterAlarm is created."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__default_automaticTroubleTicketCreation"
			type="xs:string" fixed="false" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_propagateTroubleTicketToSubAlarms"
			type="xs:string"
			fixed="All SubAlarms (of the MasterAlarm), are associated to the trouble ticket linked with the MasterAlarm."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__default_propagateTroubleTicketToSubAlarms"
			type="xs:string" fixed="false" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_propagateTroubleTicketToMasterAlarm"
			type="xs:string"
			fixed="If one SubAlarm has a trouble ticket, the MasterAlarm will be linked to this trouble ticket.
"
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__default_propagateTroubleTicketToMasterAlarm"
			type="xs:string" fixed="false" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_delayForTroubleTicketCreation"
			type="xs:string"
			fixed="Delay after the creation of a Problem Alarm, before the associated trouble ticket is created. Value is in millisecond."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__default_delayForTroubleTicketCreation"
			type="xs:string" fixed="10000" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>


</xs:schema>


