wm-test/src/main/resources/valuepack/conf/ProblemXmlConfig.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns="http://config.pd.vp.expert.uca.hp.com/"
	xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="2.0"
	targetNamespace="http://config.pd.vp.expert.uca.hp.com/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:cmn="http://config.im.vp.expert.uca.hp.com/"
	elementFormDefault="qualified">

	<xs:import namespace="http://config.im.vp.expert.uca.hp.com/" schemaLocation="CommonTypes.xsd"/>

	<xs:element name="ProblemPolicies">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="mainPolicy" type="MainPolicy"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="problemPolicy" type="ProblemPolicy"
					minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="__tooltip" type="xs:string"
				fixed="Configuration of a Problem Detection value pack" use="optional">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property fixedAttributeAsConstantProperty="true" />
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="MainPolicy">
		<xs:all>
			<xs:element name="candidateVisibility" type="CandidateVisibility"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="transientFiltering" type="TransientFiltering"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="actions" type="cmn:Actions" minOccurs="1"
				maxOccurs="1" />
			<xs:element name="troubleTicketActions" type="cmn:TroubleTicketActions"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="counterTotalNumberAlarms" type="CounterTotalNumberAlarms"
				minOccurs="1" maxOccurs="1" />
		</xs:all>
		<xs:attribute name="enablePrioritySort" type="xs:boolean" use="optional" default="false"/>
		<xs:attribute name="multipleParentSupport" type="xs:boolean" use="optional" default="true"/>
		<xs:attribute name="enableTopoAccess" type="xs:boolean" use="optional" default="false"/>
		<xs:attribute name="__tooltip" type="xs:string"
			fixed="Configuration settings common to all problems defined in a Problem Detection Value Pack."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>

		<xs:attribute name="__tooltip_counterTotalNumberAlarms"
			type="xs:string" fixed="Configuration of the ProblemAlarm field representing the Total Number of Alarms." use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__default_counterTotalNumberAlarms"
			type="xs:string" fixed="Current" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_enablePrioritySort"
			type="xs:string" fixed="Boolean flag indicating whether the groups should be sorted on priority order or not." use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__default_enablePrioritySort"
			type="xs:string" fixed="false" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_multipleParentSupport"
			type="xs:string" fixed="Boolean flag indicating whether an alarm grouping will send the parent relationship only for the highest priority parent (false), or for each of the ProblemAlarm where this alarm is grouped (true)" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__default_multipleParentSupport"
			type="xs:string" fixed="true" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_enableTopoAccess"
			type="xs:string" fixed="Boolean flag indicating whether to use topologyAccess when computing information for Problem Alarm (triggering computeSourceUniqueID() and computeDBRecords()) during the workflow) (true) or not (false). Attention, when true requires Topology licence." use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__default_enableTopoAccess"
			type="xs:string" fixed="false" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>


	<xs:complexType name="CandidateVisibility">
		<xs:sequence>
			<xs:element name="candidateVisibilityTimeMode" type="CandidateVisibilityTimeMode"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="candidateVisibilityTimeValue" type="xs:long"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="markCandidate" type="xs:boolean"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="__tooltip" type="xs:string"
			fixed="Configuration of 'Candidate' Alarms seen from the Network Management System Console."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_candidateVisibilityTimeMode"
			type="xs:string" fixed="Configure how a Candidate Alarm is shown in the Network Management System, depending on other problem's TimeWindow." use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__default_candidateVisibilityTimeMode"
			type="xs:string" fixed="Max" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_candidateVisibilityTimeValue"
			type="xs:string"
			fixed="Used only when candidateVisibilityTimeMode is set to 'Value'. Indicates how long an alarm should be shown as a 'Candidate' in the Network Management System Console. Value is in millisecond."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__default_candidateVisibilityTimeValue"
			type="xs:string" fixed="30000" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_markCandidate" type="xs:string"
			fixed="Indicates whether an alarm should be marked as a 'Candidate' in the Network Management System Console."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__default_markCandidate" type="xs:string"
			fixed="true" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>

	</xs:complexType>


	<xs:complexType name="TransientFiltering">
		<xs:sequence>
			<xs:element name="transientFilteringEnabled" type="xs:boolean"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="transientFilteringDelay" type="xs:long"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="__tooltip" type="xs:string"
			fixed="Configuration of Transient Filtering feature. Wait before processing the Alarm, potentially cleared by the Network Management System."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_transientFilteringEnabled"
			type="xs:string" fixed="Apply the Transient Filtering feature" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__default_transientFilteringEnabled"
			type="xs:string" fixed="false" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_transientFilteringDelay"
			type="xs:string"
			fixed="Delay before processing a Transient Alarm. Value is in millisecond."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__default_transientFilteringDelay"
			type="xs:string" fixed="5000" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>

	</xs:complexType>

	<xs:complexType name="ProblemPolicy">
		<xs:all>
			<xs:element name="problemAlarm" type="ProblemAlarm"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="troubleTicket" type="TroubleTicket"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="groupTickFlagAware" type="xs:boolean"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="sameGroupForAllProblemEntities" type="xs:boolean"
				minOccurs="0" maxOccurs="1" nillable="false" default="false"  />	
			<xs:element name="problemAlarmAbleToCreateGroup" type="xs:boolean"
				minOccurs="0" maxOccurs="1" nillable="false" default="true"  />
			<xs:element name="enableTriggerConsistencyAfterResync" type="xs:boolean"
				minOccurs="0" maxOccurs="1" nillable="false" default="true"  />
			<xs:element name="computeProblemEntityFromFields" type="FieldsChooser"
				minOccurs="0" maxOccurs="1"/>
			<xs:element name="timeWindow" type="TimeWindow" minOccurs="1"
				maxOccurs="1" />
			<xs:element name="booleans" type="cmn:Booleans" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="strings" type="cmn:Strings" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="longs" type="cmn:Longs" minOccurs="0"
				maxOccurs="1" />
		</xs:all>
		<xs:attribute name="name" use="required" type="xs:string" />
		<xs:attribute name="enableComputeProblemEntityFromMappers" type="xs:boolean" use="optional" default="true"/>
		<xs:attribute name="enableComputeProblemEntityFromFields" type="xs:boolean" use="optional" default="false"/>
		<xs:attribute name="__tooltip" type="xs:string"
			fixed="Configuration settings specific to each problem defined in a Problem Detection Value Pack."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_name" type="xs:string"
			fixed="Name of the Problem. A TopFilter with the same name is defined in the Filter Configuration."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_enableComputeProblemEntityFromMappers" type="xs:string"
			fixed="When true, enables the use of calling mappers in computeProblemEntity()."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_enableComputeProblemEntityFromFields" type="xs:string"
			fixed="When true, enables calculation of fields key/value pairs in computeProblemEntity()."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__dynamicList_name"
			type="xs:string" fixed="topFilterList" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>			
		<xs:attribute name="__tooltip_groupTickFlagAware" type="xs:string"
			fixed="Indicates that at regular tick intervals (see Scenario configuration), the Problem Detection Value Pack, if customized for that,  will execute some user code performed on the Group object."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__default_groupTickFlagAware" type="xs:string"
			fixed="false" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		
		<xs:attribute name="__tooltip_sameGroupForAllProblemEntities" type="xs:string"
			fixed="Groups all alarms that have at least one problemEntity matching. By default, when set to false, each different problemEntity will lead to a specific group."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__default_sameGroupForAllProblemEntities" type="xs:string"
			fixed="false" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>		
				<xs:attribute name="__tooltip_problemAlarmAbleToCreateGroup" type="xs:string"
			fixed="Decide whether a problem alarm can on its own create a new group. By default it can."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__default_problemAlarmAbleToCreateGroup" type="xs:string"
			fixed="false" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>		
	</xs:complexType>

	<xs:complexType name="ProblemAlarm">
		<xs:sequence>
			<xs:element name="delayForProblemAlarmCreation" type="xs:long"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="delayForProblemAlarmClearance" type="xs:long"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="problemAlarmCanTriggerAnotherGroupForSameProblem" type="xs:boolean"
				minOccurs="0" maxOccurs="1" nillable="false" default="false"  />					
		</xs:sequence>	
<!-- 		
 		<xs:attribute name="transientTime" type="xs:long" use="optional" />
 -->		
		<xs:attribute name="__tooltip" type="xs:string"
			fixed="Configuration of 'ProblemAlarm' Alarms." use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_delayForProblemAlarmCreation"
			type="xs:string"
			fixed="Delay applied before creating the ProblemAlarm. Value is in millisecond."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__default_delayForProblemAlarmCreation"
			type="xs:string" fixed="2000" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_delayForProblemAlarmClearance"
			type="xs:string"
			fixed="Delay applied before clearance of the ProblemAlarm. Value is in millisecond."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__default_delayForProblemAlarmClearance"
			type="xs:string" fixed="0" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_problemAlarmCanTriggerAnotherGroupForSameProblem"
			type="xs:string"
			fixed="Useful to define nested Problem. Enable the fect that a problemAlarm of a group can also create new group for the same problem. Default is false."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__default_problemAlarmCanTriggerAnotherGroupForSameProblem"
			type="xs:string" fixed="0" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="false" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
<!-- 			
		<xs:attribute name="__tooltip_transientTime"
			type="xs:string"
			fixed="This allows to create internally a temporary Problem Alarm for a certain period of time for performance reasons in case of family of problems. When superior to 0, specifies the transient period in ms. When inferior to 0, it is forever temporary. When = 0, it is not temporary and then direcly created."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__default_transientTime"
			type="xs:string" fixed="0" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="false" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>		
 -->
	</xs:complexType>

	<xs:complexType name="TroubleTicket">
		<xs:sequence>
			<xs:element name="automaticTroubleTicketCreation" type="xs:boolean"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="propagateTroubleTicketToSubAlarms" type="xs:boolean"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="propagateTroubleTicketToProblemAlarm"
				type="xs:boolean" minOccurs="1" maxOccurs="1" />
			<xs:element name="delayForTroubleTicketCreation" type="xs:long"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>

		<xs:attribute name="__tooltip" type="xs:string"
			fixed="Configuration of Trouble Ticket feature" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_automaticTroubleTicketCreation"
			type="xs:string"
			fixed="Automates the creation of a trouble ticket once a ProblemAlarm is created."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__default_automaticTroubleTicketCreation"
			type="xs:string" fixed="false" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_propagateTroubleTicketToSubAlarms"
			type="xs:string"
			fixed="All SubAlarms (of the ProblemAlarm), are associated to the trouble ticket linked with the ProblemAlarm."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__default_propagateTroubleTicketToSubAlarms"
			type="xs:string" fixed="false" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_propagateTroubleTicketToProblemAlarm"
			type="xs:string"
			fixed="If one SubAlarm has a trouble ticket, the ProblemAlarm will be linked to this trouble ticket.
"
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__default_propagateTroubleTicketToProblemAlarm"
			type="xs:string" fixed="false" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_delayForTroubleTicketCreation"
			type="xs:string"
			fixed="Delay after the creation of a Problem Alarm, before the associated trouble ticket is created. Value is in millisecond."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__default_delayForTroubleTicketCreation"
			type="xs:string" fixed="10000" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="FieldsChooser">
		<xs:sequence>
			<xs:element name="field" type="FieldChooser" minOccurs="1"
				maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="keyValueSeparator" type="xs:string" use="optional" default="="/>
		<xs:attribute name="__tooltip" type="xs:string" fixed="Configuration of the FieldsChooser"
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_field" type="xs:string"
			fixed="Defines the field of an alarm used as a key/value pair for computeProblemEntity." use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_keyValueSeparator"
			type="xs:string"
			fixed="Defines the separator between key and value for building the key/value pair in computeProblemEntity."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__default_keyValueSeparator"
			type="xs:string" fixed="=" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="FieldChooser">
		<xs:all>
			<xs:element name="key" type="FieldChooserChoice" minOccurs="1"
					maxOccurs="1" />
			<xs:element name="valueIgnored" type="xs:string" minOccurs="0" maxOccurs="1" />
		</xs:all>
		<xs:attribute name="__tooltip" type="xs:string" fixed="Configuration of the FieldChooser"
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_key" type="xs:string"
			fixed="Defines the field key (can be custom field or not) of an alarm used as a key/value pair for computeProblemEntity." use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_valueIgnored"
			type="xs:string"
			fixed="Defines an optional value to be ignored for a field during computeProblemEntity.."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="FieldChooserChoice">
        <xs:choice>
            <xs:element name="tagName" type="xs:string" />
            <xs:element name="fieldName" type="xs:string" />
        </xs:choice>
		<xs:attribute name="__tooltip_tagName" type="xs:string"
			fixed="Defines the tag defining the field name to be used as key/value pair for computeProblemEntity." use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_fieldName" type="xs:string"
			fixed="Defines directly the field name to be used as key/value pair for computeProblemEntity." use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="TimeWindow">
		<xs:sequence>
			<xs:element name="timeWindowMode" type="TimeWindowMode"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="timeWindowBeforeTrigger" type="xs:long"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="timeWindowAfterTrigger" type="xs:long"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="__tooltip" type="xs:string" fixed="Configuration of the TimeWindow"
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_timeWindowMode" type="xs:string"
			fixed="Configuration of the Problem's TimeWindow. A TimeWindow is used to decide if an Alarm has to be part of a Group of Alarm depending on its alarmRaisedTime field." use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__default_timeWindowMode" type="xs:string"
			fixed="None" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_timeWindowBeforeTrigger"
			type="xs:string"
			fixed="Delay before the Trigger's alarmRaisedTime field to consider an Alarm as part of the Trigger's problem. Value is in millisecond."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__default_timeWindowBeforeTrigger"
			type="xs:string" fixed="30000" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__tooltip_timeWindowAfterTrigger"
			type="xs:string"
			fixed="Delay after the Trigger's alarmRaisedTime field to consider an Alarm as part of the Trigger's problem. Value is in millisecond."
			use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="__default_timeWindowAfterTrigger"
			type="xs:string" fixed="30000" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property fixedAttributeAsConstantProperty="true" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>

	</xs:complexType>


	<xs:simpleType name="CandidateVisibilityTimeMode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Min" />
			<xs:enumeration value="Max" />
			<xs:enumeration value="Value" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TimeWindowMode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="None" />
			<xs:enumeration value="Trigger" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CounterTotalNumberAlarms">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Current" />
			<xs:enumeration value="All" />
		</xs:restriction>
	</xs:simpleType>

</xs:schema>


